.bungkusDetailLowongan{
    width: 100%;
    top: 0;
    height: fit-content;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F3F3F3;
}
.navDetailLowongan{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #ca4a48;
    height: 8%;
}
.backdetaillowongan{
    width: 15%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.syarat{
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.detailsyarat{
    box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    border-radius: 15px;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-top: 80px;
    background-color: white;
    color: #5A5858;
    margin-bottom: 40px;
    width: 100%;
}
.detailsyarat h2{
    font-size: 32px;
}
.detailsyarat ul{
    margin-left: 10px;
    margin-top: 30px;
}
.detailsyarat p{
    font-size: 12px;
    margin: 5px 0;
}
.tugas{
    width: 90%;
    height: fit-content;
    padding: 20px;
    box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 6px 18px 1px rgba(0,0,0,0.15);
    border-radius: 15px;
    background-color: white;
    color: #5A5858 ;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.tugas h2{
    font-size: 32px;
    margin-bottom: 10px;
}